@model Event


<div class="event-item">
    <div class="image">
        <div class="frame"></div>
        <img src="@Model.ImagePath?w=160&h=176&mode=crop" />
    </div>
    <div class="date">@Model.EventDate.EventDateNamed()</div>
    <a href="@Url.Action("Item", "Event", new{id = Model.ID})">@Model.Name</a>
    <div class="text">@Model.Description.Teaser(300)</div>

    @foreach (var user in Model.SubUsers.Take(3))
    {
        <div class="like @user.GenderStr">
            <a href="@Url.Action("Index", "User", new{id=user.ID})">
                <img src="@user.AvatarPath?w=40&h=40&mode=crop" />
            </a>
        </div>
    }
    @if (Model.SubUsersCount > 3)
    {
        <div class="liked">
        <div class="number">еще<br>@(Model.SubUsersCount - 3)</div>
    </div>
    }
    
</div>
