@model sexivirt.Web.Models.ViewModels.Info.SearchInfo
@{
    ViewBag.Title = "Поиск";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@section header {
    @Scripts.Render("~/Scripts/jquery.highlight.js")
    @Scripts.Render("~/Scripts/default/search.js")
}
<div class="middle">
    @Html.Action("MainMenu", "Home")
    <div class="content">
        <section class="clear search-results">
            @Html.Partial("SearchForm", Model)
            @if (Model.BlogPosts != null && Model.BlogPosts.Any())
            {
                <div class="results-block">
                    <div class="title">
                        @Model.BlogPosts.Count @Model.BlogPosts.Count.CountWord("запись", "записи", "записей")
                    </div>
                    @Html.Partial("ShortBlogPosts", Model.BlogPosts)
                </div>
            }
        </section>
    </div>
</div>

