@model IList<Group>
@{
    ViewBag.Title = "Группы";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var currentUser = ((sexivirt.Web.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    var groupSearch = (sexivirt.Web.Models.ViewModels.Info.GroupSearch)ViewBag.GroupSearch;
}
@section header {
    @Scripts.Render("~/Scripts/jquery.jscroll.js")
    @Scripts.Render("~/Scripts/jquery.donetyping.js")
    @Scripts.Render("~/Scripts/default/index-group.js")
}
<div class="middle">
    @Html.Action("MainMenu", "Home")
    <div class="content">
        <section class="groups clear">
            <h1>Группы</h1>
            @if (currentUser != null)
            {
                <div class="addWrite"><a href="@Url.Action("Create", "Group")">Добавить свою группу</a></div>
            }
            @Html.Partial("GroupSearch", groupSearch)
           
            <div id="GroupListWrapper" data-skip="@Model.Count">
                @foreach (var group in Model)
                {
                    @Html.Partial("GroupShortItem", group)
                }
                @if (Model.Count == 18)
                {
                    <a class="next" href="@Url.Action("Load", "Group")">Загружаю</a>
                }
            </div>
        </section>
    </div>
</div>
